li{ 
    list-style: none;
    display: inline;    
}
body{
    background-color:blanchedalmond ;
}
p{
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    /* text-transform: uppercase; */
    /* line-height: 20px; */
    border: 5px solid black;
    font-style: italic;
    font-weight: bold;
    font-size:80% ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
      width: 200px;
      height: 200px;
      float: right;
}